.App {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header h2 {
  color: darkgrey;
}
.search {
  padding: 7px 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid gainsboro;
}

.newNote {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  outline: none;
  resize: none;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.form {
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 50%;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 5px 10px;
}
.btnSubmit {
  font-size: 20px;
  border-radius: 30px;
  padding: 10px 40px;
  border: none;
  background-color: rgb(7, 219, 7);
  color: white;
}

.custom-radios {
  display: flex;
  justify-content: left;
  padding: 20px;
}

.custom-radios div {
  display: inline-block;
}
.custom-radios input[type="radio"] {
  display: none;
}
.custom-radios input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios input[type="radio"] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
}
.custom-radios input[type="radio"]#color-1 + label span {
  background-color: #2ecc71;
}
.custom-radios input[type="radio"]#color-2 + label span {
  background-color: #3498db;
}
.custom-radios input[type="radio"]#color-3 + label span {
  background-color: #f1c40f;
}
.custom-radios input[type="radio"]#color-4 + label span {
  background-color: #e74c3c;
}
.custom-radios input[type="radio"]:checked + label span img {
  opacity: 1;
}

.note-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 50%;
  margin: 0 auto;
}

.note-list .note {
  width: 60%;
  max-width: 210px;
  height: min-content;
  object-fit: cover;
  border-radius: 10px;
  text-align: start;
  padding: 10px;
  font-size: 22px;
  box-sizing: border-box;
  position: relative;
}

.note-list::after {
  content: "";
  width: 210px;
}

.destroy {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.destroy:hover {
  cursor: pointer;
}
